 Login/Register
<form [formGroup]="loginForm" >
 Spencersloginchanges
<form>
dev
  <div>
    <h1>Login</h1>
    <input type="text" placeholder="Username" />
    <input type="text" placeholder="Password" />
    <button (click)="login()">Login</button>

<form class="box" method="post">
  <div>
    <h1>Login</h1>
    <input type="text" placeholder="Username" />
    <input type="password" placeholder="Password" />
    <button class="login">Login</button>
 dev
  </div>
  <div>
    <button class="register">
      <a routerLink="/register">Sign Up Here</a>
    </button>
  </div>
</form>
