
* {
   margin: 0;
   padding: 0;
   /* background-color: black; */
   /* color: white; */
   /* height: 100%; */
   font-family: "Roboto";
}

div {
   text-align: center;
   padding: 10px;

}

.export {
   display: flex;
   width: auto;
   align-items: center;
   justify-content: center;
}
