<div class="example-container mat-elevation-z8">

  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/movie']"><mat-icon>list</mat-icon></a>
  </div>

  <mat-card class="example-card">

    <form [formGroup]="movieForm" (ngSubmit)="onFormSubmit()">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Movie Name" formControlName="movieName" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!movieForm.get('movieName').valid && movieForm.get('movieName').touched">Please enter Movie Name</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Movie Desc" formControlName="movieDesc" [errorStateMatcher]="matcher"></textarea>
        <mat-error>
          <span *ngIf="!movieForm.get('movieDesc').valid && movieForm.get('movieDesc').touched">Please enter Movie Description</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Movie Image URL" formControlName="movieImgUrl" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!movieForm.get('movieImgUrl').valid && movieForm.get('movieImgUrl').touched">Please enter Movie Image URL</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <!-- <ckeditor matCkeditor placehoder="Movie Content" formControlName="movieContent"></ckeditor> -->
          <mat-error>
            <span *ngIf="!movieForm.get('movieContent').valid && movieForm.get('movieContent').touched">Please enter Movie Description</span>
          </mat-error>
      </mat-form-field>

      <div class="button-row">
        <button type="submit" [disabled]="!movieForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>

    </form>

  </mat-card>
</div>
